/*.fc-event{
    cursor: pointer;
}*/
.gcalendar-event{
    border-color: #1e7e34;
    color: white;
    background-color: #28a745;
}

.print-only {
    display: none;
}

.print-only th,
.print-only td,
.print-only thead th,
.print-only tbody + tbody {
    border: 1px solid black;
}


@media print {
    .print-only {
        display: block;
    }

    .print-only th,
    .print-only td,
    .print-only thead th,
    .print-only tbody + tbody {
        border: 1px solid black;
    }
}
